## **SIT742: Modern Data Science**


**(Assessment Task 01: Wine Rating Data Exploration) **

---


Student Information: 

Name: Mitchell John

Student ID: 218518379

Email: johnmi@deakin.edu.au

# **Part 0. Data Files**

**0.1 Download Data**

In [0]:
!pip install wget

In [0]:
import wget

link_to_data = 'https://github.com/tulip-lab/sit742/raw/master/Assessment/2019/data/wine.json'
DataSet = wget.download(link_to_data)

link_to_data = 'https://github.com/tulip-lab/sit742/raw/master/Assessment/2019/data/stopwords.txt'

DataSet = wget.download(link_to_data)

Print(dataset)

In [0]:
!ls

**0.2 Load Data**

In [0]:
import json
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
with open("wine.json","r") as f:
  fcontent = json.load(f)

In [0]:
wine['meta']['view']

In [0]:
import json
    with open("wine.json", "w") as outfile:
         json.dump(wine, points, price)

## **Part 1: numeric anaysis**
**1.1 Explore the data distribution for each column.**

In [0]:

# you may use functions such as describe() on each attribute
df = pd.dataframe({'categorical': pd.Categorical(['d','e','f']),
...                    'numeric': [1, 2, 3],
...                    'object': ['a', 'b', 'c']
...                   })
df.describe()


## **1.2 Find the 10 varieties of wine which receives the highest number of reviews**

In [0]:
import pandas as pd

sr = pd.dataframe()

print(sr)

In [0]:
sr.value_count()

### **1.3 Find varieties of wine having the average price less than 20, with the average pointsat least 90**

In [0]:
# write your code here
# you may use functions such as groupby()

df.groupby('price')
print df.groupby('price').filter(lambda x: len(x)>=20 : len(x)<=90)

### **1.4 Build statistic table**

In [0]:

df.groupby('price')
print df.groupby('price').filter(lambda x: len(x)>=20 : len(x)<=90)

In [0]:
import numpy as np

x = np.savetct("statisticksbystate.csv"), delimiter = ","
x

# **Part 2. Text Analysis**
**2.1 extract high requency words in description**

In [0]:
import re
import nltk
from nltk.tokenize import RegexpTokenizer
from nltk.probability import *
from itertools import chain
#from tqdm import tqdm
import codecs

In [0]:
with open('stopwords.txt') as f:
    stop_words = f.read().splitlines()
stop_words = set(stop_words)

In [0]:
tokenizer = RegexpTokenizer(r"\w+(?:[-']\w+)?")
tokenizer.tokenize(raw)
print (tokens)

In [0]:

from nltk.probability import *
fd_1 = FreqDist(words)
fd_1.most_common(25)

fd_1.write(tabulate(table))

In [0]:
with open('top_common_words.txt', 'z') as outputfile:
    outputfile.write(tabulate(table))


# **2.2 Find key words for describing Shiraz using TF-IDF**

In [0]:
# select 'description' from 'variety' eqaul to  'Shiraz'

In [0]:


from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer() 

tfidf = TfidfVectorizer(analyzer='word', stop_words = 'english')

In [0]:


with open('key_shiraz.txt', 'w') as output file:  
    outputfile.write(tabulate(table))